extends layout
  block content
    .content-wrapper
      .row
        .jumbotron.col-md-12
          form#article-form(id="arForm", action="/create", method="post")
            h1
              | Write an Article
              small Write and format your aticle!
            input.col-md-12(type='text', name='title', placeholder='Article Title')
            textarea.col-md-12(name='body-1', placeholder='Article Content')
            input.btn.btn-primary.col-md-12(type='submit', value='Submit Article!')
